// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
  margin: 10px;
  border: solid 1px;
  height: 10em;
}

.box.a0 {
  background: red;
  color: white;
  margin: 10px;
}
.box.a1 {
  background: yellow;
  color: white;
  margin: 10px;
}
.box.a2 {
  background: green;
  color: white;
  margin: 10px;
}
.box.a3 {
  background: green;
  color: white;
  margin: 10px;
}

.day {
  width: 15%;
  float: left;
}

.timetable::after {
  clear: both;
}

ul {
  margin: 0
}
