// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
  margin: 10px;
  border: solid 1px;
  height: 10em;
  overflow: hidden;
}

.box.has_user_request {
  background: yellow;
}

dt {
  width: 4em;
  float: left;
  clear: both;
}

dd {
  float: left;
}

.box.a0 {
  background: red;
  color: white;
  margin: 10px;
}
.box.a1 {
  background: yellow;
  color: white;
  margin: 10px;
}
.box.a2 {
  background: green;
  color: white;
  margin: 10px;
}
.box.a3 {
  background: green;
  color: white;
  margin: 10px;
}

.day {
  width: 15%;
  float: left;
}

.timetable {
  clear: both;
}
.timetable::after {
  clear: both;
}

ul {
  margin: 0;
  padding-left: 1em;
}

li {
  display: block;
}

.eagerness0 {
  color: #aaa;
}
.eagerness1 {
  color: #aaa;
}
.eagerness2 {
  color: #888;
}
.eagerness3 {
  color: #444;
}
.eagerness4 {
  color: #000;
}
