<h1>Solutions</h1>

<% if @solutions.length != 0 %>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Score of Solution</th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.user.name %></td>
        <td><%= solution.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<p>解決案がありません。解決案を投稿してください。<p>
<% end %>

<%= link_to 'New Solution', new_solution_path(window_id: @window.id) %>
