<h1>Solutions</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Score of Solution</th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td>solution.user.name</td>
        <td>solution.score</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_solution_path window_id: @solutions.first&.window_id %>
