<%= render 'form', solution: @solution %>
<h3>Hint:</h3>
<ul>
  <% User.all.sort{|u, v| u.counts_in_window(@window) <=> v.counts_in_window(@window)}[0..10].each {|u| %>
    <li>
      <%= u.name %>
      <% u.in_window(@window).each {|r| %>
        <%= r.shift.start.strftime('%m/%d %H:%M') %>,
      <% } %>
    </li>
<% } %>
</ul>

<script type='text/javascript'>
function change_color(){
  $('.box').each(function(i, box){
    var selected_request_id = $(box).children().first().val();
    var selected_option = $(box).children().first().children().filter((ind, elem) => elem.value === selected_request_id ).first();
    var tiredness = parseInt(selected_option.text().split('/')[1].match(/\d+/)[0]);
    var eagerness = parseInt(selected_option.text().split('/')[2].match(/\d+/)[0]);
    var virtual_score = Math.exp(0 - tiredness) + Math.exp(0 - $(box).length) + (eagerness/4.0);

    var redness = Math.round(255 * Math.exp(0 - virtual_score));
    console.log(redness);
    $(box).css('background-color', `rgb(255, ${255 - redness} , 255)`);
  });
};
change_color();
$('select').each((ind, select) => {
  select.addEventListener('change', change_color);
});
</script>
